
.menu-open-button {
    background: #EEEEEE;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 1000px;
    position: absolute;
    color: #398bff;
    font-size: 1.5em;
    text-align: center;
    line-height: 60px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
 }

 .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
 }

 .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
 }
.fix{
    width: 1000;
    height: 400;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.popup-content label {
    display: block;
    margin-bottom: 10px;
}

.popup-content input {
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
}

.popup-content .left-column {
    grid-column: 1;
}

.popup-content .right-column {
    grid-column: 2;
}

.popup-content input,
.popup-content select {
    width: 100%;
    height: 15%;
}
.button-container{
    text-align:center;
}
.close{
    height: 10%;

}
.flex
{
    flex: auto;
}
.set-wh{
    height: 800px;
    width: 1000px;
}

.float_right{
    
}
